<div class="period availability"  id="{{id}}">
	<div class="wrapper">
		<div class="header">
			I'm available on
		</div>

		<div id="avail-days">
			<table>
				<tr>
				{{#each days}}
					<td class="day {{#if available}}available{{/if}}" id="{{dateFull}}">
						<div class="day-name">{{day}}</div>
						<div class="day-date">{{date}}</div>
					</td>
				{{#everyOther @index 7 }}
				</tr>
				<tr>
				{{/everyOther}}
				{{/each}}
				</tr>
			</table>
		</div>
	</div>

	<div class="wrapper">
		<div class="header">
			Pick the best day
		</div>
		<div id="avail-plan">
			{{#each days}}
			<div class="day" id="{{dateFull}}">
				<div class="label">
					<div class="day-name">{{day}}</div>
					<div class="day-date">{{date}}</div>
				</div>
				<div class="bar">
					<div class="bar-content" style="width:{{percent}}%;"></div>
				</div>
				<div class="go-btn">Go!<i class="icon-rocket"></i></div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
