<div class="period"  id="{{id}}">
	<div class="wrapper">
		<div class="header">
			It's gonna happen on
		</div>
		<div id="planned">
			<div id="day">
				<div class="day-name">{{day}}</div>
				<div class="day-date">{{date}}</div>
				<div class="day-month">{{month}}</div>
			</div>
			<div id="available">
				<span>{{available}}</span> will be joining you.
			</div>
		</div>
	</div>

	<div class="wrapper">
		<div class="header">
			Notes
		</div>
		<div id="notes">
			{{notes}}
		</div>
	</div>
</div>