<div class="period planned"  id="{{id}}">
	<div class="plannedDate">
		<div class="header">
			It's gonna happen on
		</div>
		<div class="day">
			<div class="name">{{day}}<i class="icon icon-rocket"></i></div>
			<div class="date">{{date}} of {{month}}</div>
		</div>
		<div class="available">
			{{#each available}}
			<div class="user">
				<div class="img"><img src="{{picture}}" /></div>
				<div class="name">{{name.first}}</div>
			</div>
			{{/each}}
		</div>
		<div class="notes">
			<h3>Notes</h3>
			<textarea placeholder="..." class="content">{{notes}}</textarea>
		</div>
	</div>
	<div class="buttons">
		<a id="addToCalendar" class="btn"><i class="icon-calendar"></i>Add to calendar</a>
		<a id="replan" class="btn"><i class="icon-undo"></i>Replan</a>
	</div>
</div>