<div class="period planned"  id="{{id}}">
	<div class="plannedDate">
		<div class="header">
			It's gonna happen on
		</div>
		<div class="day">
			<div class="name">{{day}}<i class="icon icon-rocket"></i></div>
			<div class="date">{{date}} of {{month}}</div>
		</div>
		<div class="available">
			{{#each available}}
			<div class="user">
				<div class="img"><img src="{{picture}}" /></div>
				<div class="name">{{name.first}}</div>
			</div>
			{{/each}}
		</div>
		<div class="notes">
			<h3>Notes</h3>
			<textarea placeholder="..." class="content">{{notes}}</textarea>
		</div>
	</div>
	<div class="buttons">
		{{#unless mailed}}
		<a id="mail" class="btn"><i class="icon-mail"></i>E-mail it</a>
		{{else}}
		<a id="mail" class="btn"><i class="icon-check"></i>Mailed!</a>
		{{/unless}}
		<a href="" title="Add to Calendar" class="addthisevent" id="addToCalendar">
			<i class="icon-calendar"></i> Add to Calendar
			<span class="_start">{{cal.startDate}}</span>
			<span class="_end">{{cal.endDate}}</span>
			<span class="_zonecode">38</span>
			<span class="_summary">{{cal.description}}</span>
			<span class="_description">{{notes}}</span>
			<span class="_location"></span>
			<span class="_organizer"></span>
			<span class="_organizer_email"></span>
			<span class="_all_day_event">false</span>
			<span class="_date_format">DD/MM/YYYY</span>
		</a>
		<a id="replan" class="btn"><i class="icon-undo"></i>Replan</a>
	</div>
</div>