<html>
	{{> header}}
	<body id="{{page}}">

		<div id="header">
			<a id="back" href="/groups">
				<i class="icon-left-open-big"></i>
				<span>{{group.name}}</span>
			</a>
			<a id="logout" href="/logout">
				<i class="icon-sign-out"></i>
			</a>
		</div>

		<div class="nav-placeholder"></div>
		<nav>
			<div class="tab active" data-target="plan"><div class="icon-calendar-1"></div><span>Plan</span></div>
			<div class="tab" data-target="manage"><div class="icon-manage"></div><span>Manage</span></div>
			<div class="tab" data-target="updates"><div class="icon-clock"></div><span>Updates</span></div>
		</nav>

		<section id="plan" class="active">
			<div id='period-controls'>
				<div class='period-control-button prev'>
					<div><i class="icon-chevron-left"></i></div>
				</div>
				<div class='period'><span>07 sept - 13 sept</span></div>
				<div class='period-control-button next'>
					<div><i class="icon-chevron-right"></i></div>
				</div>
			</div>

			<div id="periods">

			</div>
		</section>

		<section id="manage">
			<div id="info">
				<div id="display" class="visible">
					<i class="icon-pencil"></i>
					<h2>{{group.name}}</h2>
					<p>{{group.description}}</p>
				</div>

				<div id="edit">
					<p>
						We're called <input id="name" type="text" placeholder="name" size="12" value="{{group.name}}"/>
					</p>
					<p>
						We want to plan
						<select id="type" name="type">
							<option value="dates">dates</option>
							<option value="rehearsals">rehearsals</option>
							<option value="meetings">meetings</option>
						</select>
					</p>
					<!--<p>
						Once every
						<span id="minus" class="numberBtn">-</span>
						<input id="length" class="number" type="number" value="{{group.periodLength}}"/>
						<span id="plus" class="numberBtn">+</span>
						days
					</p>-->
					<hr>
					<p class="permission">
						<span id="planning" class="radio">
							{{#if group.permissions.plan.addNewMembers}}
							<span id="false" class="option">Only I</span>
							<span id="true" class="option active">Everybody</span>
							{{else}}
							<span id="false" class="option active">Only I</span>
							<span id="true" class="option">Everybody</span>
							{{/if}}
						</span>
						can choose dates
					</p>
					<p class="permission">
						<span id="settings" class="radio">
							{{#if group.permissions.settings.addNewMembers}}
							<span id="false" class="option">Only I</span>
							<span id="true" class="option active">Everybody</span>
							{{else}}
							<span id="false" class="option active">Only I</span>
							<span id="true" class="option">Everybody</span>
							{{/if}}
						</span>
						can change settings
					</p>
					<p class="permission">
						<i>Please note: the permissions are not active yet, but we'll remember.</i>
					</p>
					<div class="btn"><i class="icon-check"></i> Save</div>
				</div>
			</div>
			<div id="users">
				{{#each group.members}}
				<div class="user">
					<div class="img"><img src="{{picture}}" /></div>
					<div class="name">{{name.full}}</div>
					<div class='icon-x remove-user' data-id='{{id}}'></div>
				</div>
				{{/each}}
				<div id="invite">
					<input type="email" placeholder="invite@someone.com"><span class="btn" id="send"><i class="icon-mail"></i> Invite</span>
				</div>
			</div>
			<div class="btn leave remove-user" data-id='{{user.id}}'>Leave group</div>
		</section>

		<section id="updates">

		</section>

	</body>
	<script>{{{JShare}}}</script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/app/lib/jquery-2.1.1.min.js"></script>
	<script src="/app/lib/moment-with-locales.js"></script>
	<script src="/app/lib/handlebars-v2.0.0.js"></script>
	<script src="/app/js/handlebars-ext.js"></script>
	<script src="/app/js/classes/App.js"></script>
	<script src="/app/js/classes/Group.js"></script>
	<script src="/app/js/classes/Period.js"></script>
	<script src="/app/js/{{page}}.js"></script>
</html>
